.App {
  background-color: #f5f5f5;
  border: 1px solid gray;
  margin: 32px auto;
  padding: 16px;
  text-align: center;
  width: 400px;
}

.App__button,
.App__h1,
.App__input,
.App__textarea {
  background-color: transparent;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App__input,
.App__textarea {
  border: 0 solid gray;
  border-bottom-width: 1px;
  font-size: 16px;
  margin-bottom: 8px;
  padding: 8px;
}

.App__button {
  background-color: blue;
  border-width: 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 8px auto 0 auto;
  padding: 8px 16px;
}

.App__form {
  display: flex;
  flex-direction: column;
}
